<launch>

    <node name="rec_zed_vid" pkg="sitl_dvrk" type="record_zed_video.py" output="screen">
        <param name="save_dir" type="str"    value="/home/$(env USER)/sitl_zed_record"/>
        <param name="fourcc"   type="str"    value="avc1"/>
        <param name="fps"      type="int"    value="30"/>
    </node>

    <?ignore
    
    ?>

</launch>